---
---

<div class="cursor-pointer border rounded-md">
  <div class="px-3 pt-3 pb-2">
    <span class="block w-4 h-0.5 mb-1 bg-black"></span>
    <span class="block w-4 h-0.5 mb-1 bg-black"></span>
    <span class="block w-4 h-0.5 mb-1 bg-black"></span>
  </div>
</div>


