---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <h2>
    {SITE_TITLE}
  </h2>
  <nav>
    <HeaderLink href="/" class="text-2xl">About</HeaderLink>
    <HeaderLink
      href="https://github.com/Fumiya-Kito/portfolio"
      target="_blank"
      class="text-2xl"
    >
      Source
    </HeaderLink>
  </nav>
</header>
