---
import HeaderLink from "./HeaderLink.astro";
import Hamburger from "./Hamburger.astro";
---

<header class="fixed w-full p-2 z-10 backdrop-blur-sm">
  <!-- Container div -->
  <div class="mx-auto max-w-xl">
    <nav class="flex items-center gap-4 relative">
      <a>
        <h2 class="tracking-tight font-semibold p-2 mr-20">Fumiya Kito</h2>
      </a>
      <div class="gap-5 hidden text-sm md:flex md:float-right">
        <HeaderLink href="/#">TOP</HeaderLink>
        <HeaderLink href="/#skill">SKILL</HeaderLink>
        <HeaderLink href="/#work">WORK</HeaderLink>
        <HeaderLink href="/#sns">SNS</HeaderLink>
        <HeaderLink href="https://github.com/Fumiya-Kito/portfolio" target="_blank">
          Source</HeaderLink>
      </div>
      <div class="hamburger md:hidden inline-flex absolute right-0 top-0">
        <Hamburger />
      </div>

      <div class="nav-links md:hidden mt-10">
        <HeaderLink href="/#">TOP</HeaderLink>
        <HeaderLink href="/#skill">SKILL</HeaderLink>
        <HeaderLink href="/#work">WORK</HeaderLink>
        <HeaderLink href="/#sns">SNS</HeaderLink>
        <HeaderLink href="https://github.com/Fumiya-Kito/portfolio" target="_blank">
          Source</HeaderLink>
      </div>
    </nav>
  </div>
</header>

<script>
  const hamburger = document.querySelector<HTMLElement | any>(".hamburger");
  const hamburger_links = document.querySelectorAll<NodeList | any>(
    ".nav-links a"
  );

  hamburger.addEventListener("click", () => {
    document
      .querySelector<HTMLElement | any>(".nav-links")
      .classList.toggle("expanded");
  });
  hamburger_links.forEach((item) =>
    item.addEventListener("click", () => {
      document
        .querySelector<HTMLElement | any>(".nav-links")
        .classList.toggle("expanded");
    })
  );
</script>

<style>
  .nav-links {
    padding: 8px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5%;
    width: 120px;
    position: absolute;
    top: 10px;
    right: 0;
    display: none;
  }

  .nav-links a {
    display: block;
    text-align: right;
    padding: 4px 0;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  .expanded {
    display: unset;
  }

  .remove {
    display: none;
  }
</style>
