---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="fixed">
	<!-- Container div -->
	<div>
		<nav class="flex">
			<a>
				<h2>Fumiya Kito</h2>
			</a>
			<HeaderLink href="/" class="text-lg">TOP</HeaderLink>
			<HeaderLink href="/" class="text-lg">SKILL</HeaderLink>
			<HeaderLink href="/" class="text-lg">WORK</HeaderLink>
			<HeaderLink href="/" class="text-lg">CONTACT</HeaderLink>
			<HeaderLink
				href="https://github.com/Fumiya-Kito/portfolio"
				target="_blank"
				class="text-lg"
			>
				Source
			</HeaderLink>
		</nav>
	</div>
</header>
